<ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
    {{#each comment}}
    <strong class="pull-left primary-font">{{name}}</strong>
    <small class="pull-right text-muted">
        <span class="glyphicon glyphicon-time"></span>{{date}}</small>
    </br>
    <li class="ui-state-default">{{detail}}</li>
    </br>
    {{/each}}
</ul>