<title>{{{title}}}</title>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/util.css">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                <span class="login100-form-title">
                    Đăng kí
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    <input class="input100" type="text" name="username" placeholder="Tên đăng nhập">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Please enter password">
                    <input class="input100" type="email" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>
                <br>
                <div class="wrap-input100 validate-input" data-validate="Please enter password">
                    <input class="input100" type="password" name="pass" placeholder="Mật khẩu">
                    <span class="focus-input100"></span>
                </div>
                <br>
                <div class="wrap-input100 validate-input" data-validate="Please enter password">
                    <input class="input100" type="password" name="pass" placeholder="Nhập lại mật khẩu">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn trigger-btn" href="#modalRegisterSuccess" data-toggle="modal">
                        Đăng kí
                    </button>
                </div>
                <div id="modalRegisterSuccess" class="modal fade text-center">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="icon-box">
                                    <i class="material-icons">&#xE876;</i>
                                </div>
                                <h4 class="modal-title">Thành công!</h4>
                            </div>
                            <div class="modal-body">
                                <p class="text-center">Bạn đã đăng kí tài khoản thành công
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="login100-form-btn trigger-btn" data-dismiss="modal">Tiếp tục</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

