<title>{{{title}}}</title>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/util.css">

<div class="limiter">
    <div class="container-login100" id="registerForm">
        <div class="wrap-login100">

            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" name="registration">
                <span class="login100-form-title">
                    Đăng kí
                </span>
                <span style="color: red; font-size: 2em;" id = "error"></span>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    <input class="input100" type="text" name="username" placeholder="Tên đăng nhập" required>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Please enter email">
                    <input class="input100" type="email" name="email" placeholder="Email" required>
                </div>

                <br>
                <div class="wrap-input100 validate-input" data-validate="Please enter password">
                    <input class="input100" type="password" name="password" placeholder="Mật khẩu" required>
                </div>
                <br>
                <div class="wrap-input100 validate-input" data-validate="Please enter password">
                    <input class="input100" type="password" name="passwordRetype" placeholder="Nhập lại mật khẩu"
                        required>
                </div>
                <br>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn trigger-btn" href="#modalRegisterSuccess" data-toggle="modal"
                        id="register" type="button" onclick="validateForm()">
                        Đăng kí
                    </button>
                </div>
                {{!-- <div id="modalRegisterSuccess" class="modal fade text-center">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="icon-box">
                                    <i class="material-icons">&#xE876;</i>
                                </div>
                                <h4 class="modal-title">Thành công!</h4>
                            </div>
                            <div class="modal-body">
                                <p class="text-center">Bạn đã đăng kí tài khoản thành công
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="login100-form-btn trigger-btn" data-dismiss="modal">Tiếp tục</button>
                            </div>
                        </div>
                    </div>
                </div>  --}}
            </form>
        </div>
    </div>
</div>

<script>
    function ValidateEmail(mail) {
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {
            return (true);
        }
        return (false);
    }
    function validatePassword(password, retype) {
        if (!password || !retype) return false;
        else {
            if (String(password).length >= 6 && password === retype) return true;
            else return false;
        }
    }
    function validateForm() {
        var isSendable = true;
        var username = document.forms["registration"]["username"].value;
        var email = document.forms["registration"]['email'].value;
        var password = document.forms["registration"]['password'].value;
        var retype = document.forms["registration"]['passwordRetype'].value;

        if (!username) {
            isSendable = false;
        }
        else {
        }
        if (!email) {
            isSendable = false;
        }
        else if (!ValidateEmail(email)) {
            isSendable = false;
        }
        else {
        }
        if (!password) {
            isSendable = false;
        }
        else if (!validatePassword(password, retype)) {
            isSendable = false;
        }
        else {
        }
        if (isSendable) {
            var request = new XMLHttpRequest();
            request.open("POST", "/users/dang-ki", true);
            request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            request.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.responseText == "success")
                        window.location.href = '/users/dang-nhap';
                    else
                        document.getElementById("error").innerText = "Username đã tồn tại!";

                }
            };
            var param = "username=" + username + "&email=" + email + "&password=" + password;
            request.send(param);
        }
    }
</script>