<title>{{{title}}}</title>

<div class="row" align="center">
	<div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
		<h1>THANH TOÁN</h1>
		<h4>Thành tiền: &#8363;{{total}}</h4>
		{{!-- <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div> --}}
		<form action="/thanh-toan" method="post" id="checkout-form" >
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="name">Tên người mua hàng</label>
						<input type="text" id="name" class="form-control" required name="name">
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="address">Địa chỉ giao hàng</label>
						<input type="text" id="address" class="form-control" required name="address">
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="phone">Số điện thoại liên hệ</label>
						<input type="text" id="phone" class="form-control" required name="phone">
					</div>
				</div>
				
			</div>
			<button type="submit" class="btn btn-success">Buy now</button>
		</form>
	</div>
</div>