<div class="card container">
    <div class="card-header">
        <strong>Thông tin khách hàng</strong>
    </div>
    <div class="card-body card-block">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="row form-group">
                <div class="col col-md-3"><label class=" form-control-label">Tên đăng nhập</label></div>
                <div class="col-12 col-md-9">
                    <p class="form-control-static">hieudeptrai_9x</p>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Họ</label></div>
                <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="Nguyễn"
                        class="form-control"><small class="form-text text-muted">This is a help text</small></div>
            </div>
                        <div class="row form-group">
                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Tên</label></div>
                <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="Văn A"
                        class="form-control"></div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label for="email-input" class=" form-control-label">Email</label></div>
                <div class="col-12 col-md-9"><input type="email" id="email-input" name="email-input"
                        placeholder="example@gmail.com" class="form-control"><small class="help-block form-text">Nhập địa chỉ email của bạn</small></div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Địa chỉ</label></div>
                <div class="col-12 col-md-9"><textarea name="textarea-input" id="textarea-input" rows="9"
                        placeholder="Địa chỉ" class="form-control"></textarea></div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label for="select" class=" form-control-label">Giới tính</label></div>
                <div class="col-12 col-md-9">
                    <select name="select" id="select" class="form-control">
                        <option value="0">Nam</option>
                        <option value="1">Nữ</option>
                    </select>
                </div>
            </div>
                                            <div class="form-group">
                                    <label class=" form-control-label">Ngày tháng năm sinh</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input class="form-control">
                                    </div>
                                    <small class="form-text text-muted">Ví dụ. 25/12/1999</small>
                                </div>
            <div class="row form-group">
                <div class="col col-md-3"><label for="password-input" class=" form-control-label">Mật khẩu hiện tại</label></div>
                <div class="col-12 col-md-9"><input type="password" id="password-input" name="password-input"
                        placeholder="Password" class="form-control"></div>
            </div>
                        <div class="row form-group">
                <div class="col col-md-3"><label for="password-input" class=" form-control-label">Mật khẩu mới</label></div>
                <div class="col-12 col-md-9"><input type="password" id="password-input" name="password-input"
                        placeholder="Password" class="form-control"></div>
            </div>            <div class="row form-group">
                <div class="col col-md-3"><label for="password-input" class=" form-control-label">Nhập lại mật khẩu mới</label></div>
                <div class="col-12 col-md-9"><input type="password" id="password-input" name="password-input"
                        placeholder="Password" class="form-control"></div>
            </div>
        </form>
    </div>
    <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Lưu
        </button>
        <button type="reset" class="btn btn-danger btn-sm">
            <i class="fa fa-ban"></i> Huỷ
        </button>
    </div>
    <br>
</div>